[submodule "subnet"]
	path = subnet
	url = https://github.com/zicoz18/COMP491-subnet.git
[submodule "indexer"]
	path = indexer
	url = https://github.com/zicoz18/COMP491-Indexer.git
[submodule "indexer-api"]
	path = indexer-api
	url = https://github.com/zicoz18/COMP491-Indexer-API.git
[submodule "bridge"]
	path = bridge
	url = https://github.com/zicoz18/COMP491-Bridge.git
[submodule "bridge-website"]
	path = bridge-website
	url = https://github.com/dulgertolgay/COMP491-Bridge.git
[submodule "block-explorer"]
	path = block-explorer
	url = https://github.com/dulgertolgay/COMP491-block-explorer.git
