[submodule "subnet"]
	path = subnet
	url = https://github.com/zicoz18/COMP491-subnet.git
[submodule "indexer"]
	path = indexer
	url = https://github.com/zicoz18/COMP491-Indexer.git
[submodule "indexer-api"]
	path = indexer-api
	url = https://github.com/zicoz18/COMP491-Indexer-API.git
[submodule "bridge"]
	path = bridge
	url = https://github.com/zicoz18/COMP491-Bridge.git
